body {
    background-color:#afb2c6;
}
h1,h2,h3,h4,h5,h6,h7{
    text-align:center;
}
.mainTitle{
    
    margin:0 auto;
    margin-bottom:1px;
    padding:5px;
    width:1200px;
    min-height:30px;
    border-left:2px solid #7e89d7;
    border-right:2px solid #7e89d7;
    background-color:snow;
    border-bottom:2px solid #7e89d7;
    -moz-border-radius: 15px;
     border-radius: 15px;
}
.container {
    margin:0 auto;
    padding:5px;
    width:1200px;
    min-height:1000px;
    height:auto;
    border-left:2px solid #7e89d7;
    border-right:2px solid #7e89d7;
    background-color:snow;
    border-top:2px solid #7e89d7;
    -moz-border-radius: 15px;
     border-radius: 15px;
}
.category_div,.brand_div,.market_div {
    
    min-width:100px;
    padding:4px;
    min-height:100px;
    margin-right:5px;
}


.selects {
    max-width:200px;
    padding:4px;
    margin-top:10px;
    min-height:100px;
}

table {
    width:300px;
}

table  td{
    max-width:4px;
}

.cheatMode{
    background-color: silver;
}